<%- include("partials/header1.ejs") %>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- Sidebar -->
            <div class="list-group">
                <a href="/posts" class="list-group-item list-group-item-action">View my posts</a>
                <a href="/create-post" class="list-group-item list-group-item-action">Create new blog post</a>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Content -->
            <div class="card mb-3">
                <img class="card-img-top" src="images/thumbnail.svg" alt="Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="btn-group">
                        <button type="button" class="btn">
                            <a href ="/delete" style="text-decoration: none;">
                                <img  class="card-img-top" src="images/trash3.svg" alt="Delete">
                            </a>
                            
                        </button>
                        <button type="button" class="btn">
                            <a href ="/edit" style="text-decoration: none;">
                                <img class="card-img-top" src="images/pencil-square.svg" alt="Edit">
                            </a>                            
                        </button>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <img class="card-img-top" src="images/thumbnail.svg" alt="Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="btn-group">
                        <button type="button" class="btn">
                            <a href ="/delete" style="text-decoration: none;">
                                <img  class="card-img-top" src="images/trash3.svg" alt="Delete">
                            </a>
                            
                        </button>
                        <button type="button" class="btn">
                            <a href ="/edit" style="text-decoration: none;">
                                <img class="card-img-top" src="images/pencil-square.svg" alt="Edit">
                            </a>                            
                        </button>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <img class="card-img-top" src="images/thumbnail.svg" alt="Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="btn-group">
                        <button type="button" class="btn">
                            <a href ="/delete" style="text-decoration: none;">
                                <img  class="card-img-top" src="images/trash3.svg" alt="Delete">
                            </a>
                            
                        </button>
                        <button type="button" class="btn">
                            <a href ="/edit" style="text-decoration: none;">
                                <img class="card-img-top" src="images/pencil-square.svg" alt="Edit">
                            </a>                            
                        </button>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <img class="card-img-top" src="images/thumbnail.svg" alt="Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="btn-group">
                        <button type="button" class="btn">
                            <a href ="/delete" style="text-decoration: none;">
                                <img  class="card-img-top" src="images/trash3.svg" alt="Delete">
                            </a>
                            
                        </button>
                        <button type="button" class="btn">
                            <a href ="/edit" style="text-decoration: none;">
                                <img class="card-img-top" src="images/pencil-square.svg" alt="Edit">
                            </a>                            
                        </button>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <img class="card-img-top" src="images/thumbnail.svg" alt="Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="btn-group">
                        <button type="button" class="btn">
                            <a href ="/delete" style="text-decoration: none;">
                                <img  class="card-img-top" src="images/trash3.svg" alt="Delete">
                            </a>
                            
                        </button>
                        <button type="button" class="btn">
                            <a href ="/edit" style="text-decoration: none;">
                                <img class="card-img-top" src="images/pencil-square.svg" alt="Edit">
                            </a>                            
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include("partials/footer.ejs") %>